<div class="container col-6">
  <h1 class="mb-3 mt-3"><%= @cocktail.name %></h1>

  <h4 class="mb-3 mt-3">Ingredients</h4>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to '<i class="far fa-times-circle"></i>'.html_safe,
                    dose_path(dose),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>

  <div class="buttons mt-3">
      <%= link_to 'Add new dose', new_cocktail_dose_path(@cocktail), class: "btn btn-outline-success" %>
      <%= link_to 'Go back', cocktails_path, class: "btn btn-outline-dark ml-3" %>
  </div>
</div>
